<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ED1</key>
	<dict>
		<key>Type</key>
		<string>b</string>
		<key>Length</key>
		<string>64</string>
	</dict>
	<key>ED2</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..19</string>
	</dict>
	<key>ED3</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>ED4</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>ED5</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>ED6</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>ED7</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>10</string>
	</dict>
	<key>ED8</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED9</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED10</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED11</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>ED12</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>ED13</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>ED14</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>ED15</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>ED16</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>ED17</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>ED18</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>4</string>
	</dict>
	<key>ED19</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED20</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED21</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED22</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED23</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED24</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED25</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>ED26</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>ED27</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>ED28</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED29</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED30</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED31</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED32</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>ED33</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..11</string>
	</dict>
	<key>ED34</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>..28</string>
	</dict>
	<key>ED35</key>
	<dict>
		<key>Type</key>
		<string>z</string>
		<key>Length</key>
		<string>..37</string>
	</dict>
	<key>ED36</key>
	<dict>
		<key>Type</key>
		<string>z</string>
		<key>Length</key>
		<string>...104</string>
	</dict>
	<key>ED37</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>12</string>
	</dict>
	<key>ED38</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>6</string>
	</dict>
	<key>ED39</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>2</string>
	</dict>
	<key>ED40</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED41</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>8</string>
	</dict>
	<key>ED42</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>15</string>
	</dict>
	<key>ED43</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>43</string>
	</dict>
	<key>ED44</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>..25</string>
	</dict>
	<key>ED45</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED46</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED47</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED48</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>...322</string>
	</dict>
	<key>ED49</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED50</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED51</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>3</string>
	</dict>
	<key>ED52</key>
	<dict>
		<key>Type</key>
		<string>b</string>
		<key>Length</key>
		<string>16</string>
	</dict>
	<key>ED53</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>16</string>
	</dict>
	<key>ED54</key>
	<dict>
		<key>Type</key>
		<string>an</string>
		<key>Length</key>
		<string>...20</string>
	</dict>
	<key>ED55</key>
	<dict>
		<key>Type</key>
		<string>ic</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED56</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED57</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED58</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED59</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED60</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>...17</string>
	</dict>
	<key>ED61</key>
	<dict>
		<key>Type</key>
		<string>n</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED62</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED63</key>
	<dict>
		<key>Type</key>
		<string>ans</string>
		<key>Length</key>
		<string>...999</string>
	</dict>
	<key>ED64</key>
	<dict>
		<key>Type</key>
		<string>b</string>
		<key>Length</key>
		<string>16</string>
	</dict>
</dict>
</plist>
